<!DOCTYPE html>
<html>
<head>
<title>Календарь</title>
<meta charset="utf-8" />
</head>
<body>
<div id="app">  
	<table class="table">
		<thead>
			<tr>

				<td colspan="5"> {{monthes[month]}} {{year}} </td>
				<td>
					<button class="decrease" v-on:click="decrease"><</button>
				</td>
				<td>
					<button class="increase" v-on:click="increase">></button>
				</td>
			</tr>
			<tr >
				<td v-for="d in day">{{d}}</td>
			</tr>
		</thead>
		<tbody>
			<tr v-for="week in calendar()">					   
				<td v-for="(day, index) in week"> {{ day.index }} </td>
			</tr>						
		</tbody>
	</table>   
</div>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        
        el: '#app',
        data: {
			month: new Date().getMonth(),    
			year: new Date().getFullYear(), 
			dFirstMonth: '1',
			day:["Mn", "Tu","We","Th","Fr","Sa", "Su"],
			monthes: ["January","February","March","April","May","June","July","August","September","October","November","December"],
			date: new Date(),
			
		},
		
        methods:{
            calendar: function(){
			var days = [];
			var week = 0;
			days[week] = [];
			var dlast = new Date(this.year, this.month + 1, 0).getDate();
                for (let i = 1; i <= dlast; i++) {
                    if (new Date(this.year, this.month, i).getDay() != this.dFirstMonth) {
						a = {index:i};
                        days[week].push(a);
						if (i == new Date().getDate() && this.year == new Date().getFullYear() && this.month == new Date().getMonth()) { a.current = '#747ae6'};
						if (new Date(this.year, this.month, i).getDay() == 6 || new Date(this.year, this.month, i).getDay() == 0) { a.weekend = '#ff0000'};
						}
                else {
                        week++;
						
                        days[week] = [];
						a = {index:i};
                        days[week].push(a);
						if ((i == new Date().getDate()) && (this.year == new Date().getFullYear()) && (this.month == new Date().getMonth())) { a.current = '#747ae6'};
						if (new Date(this.year, this.month, i).getDay() == 6 || new Date(this.year, this.month, i).getDay() == 0) { a.weekend = '#ff0000'};
						}
                    }

				if (days[0].length > 0) {
					for (let i = days[0].length; i < 7; i++) {
						days[0].unshift('');
						
					}
				}
				this.dayChange;
				//console.log(days);
				return days;
			},
            decrease: function(){
                    this.month--;
                    if (this.month < 0) {
                        this.month = 12;
                        this.month--;
                        this.year--;
                    }
                    
            },
			increase: function(){

                    this.month++;
                    if (this.month > 11) {
                        this.month = -1;
                        this.month++;
                        this.year++;
                    }
            },	
        }
		
    });
</script>
<style>
#app {
	margin-top: 100px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}
.table {
	border-collapse: collapse;
	float: left;
	width: 180px;
	table-layout: fixed;
}
.format-week {
	float:right;
}
.table td {
	text-align:center;
}
.table thead tr:last-child {
	background-color: #dedada;
}

</style>
</body>
</html>